# Blocchiamo solo l'agente alla versione che supporta "Pipeline"
livekit-agents==0.12.1

# Lasciamo i plugin liberi di scaricare la versione compatibile con l'agente sopra
livekit-plugins-deepgram
livekit-plugins-openai
livekit-plugins-elevenlabs
livekit-plugins-silero

# Utility
python-dotenv
aiohttp
